%body
  %div.container
    %h2 Bathroom Statistics
    %p People have gone to the bathroom...
    %ul
      %li== ...<strong>#{@total_visit_count}</strong> times since installation.
      %li== ...<strong>#{@today_visit_count}</strong> times today.

